
.contentHeader img {
    width: 100%;
    border-radius: 15px;
}

.secondBlock {
    display: flex;
}

.secondBlock img {
    width: 100%;
    max-width: 300px;
    max-height: 300px;
}

.secondBlock {
    margin: 10px;
}

.description {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.description p {
    color: white;
}

.description span {
    color: black;
    font-weight: 500;
}

.description a {
    color: #05b488;
    text-decoration: none;
    font-weight: 700;
}

.status {
    margin-left: 10px;
    color: black;
    padding: 5px;
    margin-top: 15px;
}

.statusSpan {
    padding: 5px;
    border: 1px solid black;
    font-weight: 700;
    background: whitesmoke;
}

.statusInput {
    padding: 5px;
}