.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;

    grid-template-areas:
    "h h"
    "n c";
    background: #434b56;
}

.wrapper-content {
    background: #434b56;
    grid-area: c;
}

textarea {
    resize: none;
    outline: none;
}