.friends {
    width: 100%;
}

.friends p {
    color: white;
}

.friendsItemList {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.friends p {
    text-align: center;
}